#carousel .carousel-item {
  height: 100vh;
}
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header .navbar-nav .nav-link,
header .navbar-brand {
  color: white;
}
header .navbar .nav-item .active {
  color: #35a22c;
}
header .navbar .nav-item {
  position: relative;
  margin-left: 10px;
}
header .navbar .nav-item::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #35a22c;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  /* transform: translateX(-40px
);
opacity: 0; */
}
header .navbar .nav-item.active:hover:before,
header .navbar .nav-item:hover:before {
  /* transform: translateX(0);
opacity: 1; */
  width: 100%;
}

#carousel .carousel-caption img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
#carousel .carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#carousel .carousel-indicators li.active {
  background-color: #35a22c;
}
/* project */
.project-tittle {
  text-align: center;
}
.project-tabs .nav {
  justify-content: center;
}
.project-tabs .nav-pills .nav-link.active {
  background-color: #35a22c;
  border-color: #35a22c;
  color: white;
}
.project-tabs .nav-pills .nav-link {
  border: 1px solid black;
  margin: 0 10px;
  color: black;
}
.project-tabs .card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  border: none;
}
.project-tabs .card-body {
  border: 1px solid transparent;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
  transition: 0.5s;
}
.project-tabs .card-body:hover {
    border-top: none;
  border: 1px solid #35a22c;
}
.project-tabs .card h5 {
  transition: 0.5s;
}
.project-tabs .card:hover h5 {
  color: #35a22c;
}
/* starte-xeperience */
#experience{
    background-image: url(./image/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#experience::before{
    content: "";
    position: absolute;
    background-color: rgb(0,0,0,0.4
    );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.experience-tittle{
    position: relative;
    z-index: 1  ;
}
